extends layout

block content
  .container
    .row
      .col-sm
        h1= title
        p [A* Pathfinder Beschreibung hier]
      .col-sm
        h2 Raster
        #container
        // Status
        .row
          .col-3: p Startpunkt
          .col-sm: p#stat-start
            i Berechne...
        .row
          .col-3: p Endpunkt
          .col-sm: p#stat-end
            i Berechne...
        .row
          .col-3: p Zurückgelegter Weg
          .col-sm: p#stat-distance
            i Berechne...
        // Controls
        form(action="" method="get")
          .row
            .col-3: label(for="controls-diagonal") Diagonale zulassen
            .col-sm
                .form-group
                  select.form-control(name="diagonal" id="controls-diagonal")
                    option(value="true") Ja
                    option(value="false") Nein
          .row
            .col-3: p
            .col-sm
              .form-group
                input.btn.btn-primary(type="submit" value="Neu generieren")
  script.
    var allowDiagonal = '!{query.diagonal}' == 'true'; // Passed through GET
    // Start off with showing the aStarDemo
    addEventListener("DOMContentLoaded", function() {
      bma.aStarDemo({
        allowDiagonal: allowDiagonal
      });
    }, false);
