extends layout

block content
  .container
    .row
      .col-sm
        h1= title
        p [A* Pathfinder Beschreibung hier]
        pre: code#debug-out
      .col-sm
        h2 Raster
        #container
