extends layout

block content
  .container
    .row
      .col-sm
        h1= title
        p In unserer Berufsmaturitätsarbeit werden andauernd Fachbegriffe genannt. Diese Seite soll dazu dienen Fachbegriffe einfach verständlich zu erklären.
        table.table.table-striped
          thead
            tr
              th Begriff
              th Erklärung
              th Beispiele und Sonstiges
          tbody
            tr
              td A*
              td Sprich &laquo;A Star&raquo;. Ein Pathfinding Algorithmus (siehe Fachbegriff Algorithmus). Dieser nutzt zusätzlich heuristische Mittel, um den Weg zu berechnen (siehe Heuristik).
              td -
            tr
              td Algorithmus
              td Ein Ablauf, Prozess oder Programm, der eine Liste mit Anweisungen schrittweise befolgt, um Daten umzuwandeln.
              td Pathfinder, Sortierverfahren (Produktpreis auf- und absteigend), Ihre Morgenroutine.
            tr
              td BestFirstFinder
              td Ein Pathfinding-Algorithmus. Nicht zu verwechseln mit dem BreadthFirstFinder.
              td -
            tr
              td BreadthFirstFinder
              td Ein weiterer Pathfinding-Algorithmus. Nicht zu verwechseln mit dem BestFirstFinder.
              td -
            tr
              td Dijkstra
              td Ein Pathfinding Algorithmus (siehe Fachbegriff Algorithmus). Dieser nutzt keine heuristische Mittel.
              td -
            tr
              td Heuristik
              td Hilfsalgorithmus, unter Anderem für Pathfinder, der zusätzlich hilft zwischen einzelnen Schritten die Kosten für eine mögliche Operation einzuschätzen.
              td Chebyshev, Euklidisch, Manhattan, Oktil.
            tr
              td Operationen
              td Eine &laquo;Operation&raquo; beschreibt in unserem Fall einen Zyklus eines Pathfinders. Je mehr Zyklen ein Pathfinder in Relation zu einem anderen benötigt, desto weniger effizient ist er.
              td -
            tr
              td Parameter
              td Die Randbedingungen für einen Durchlauf bzw. ein Experiment.
              td Der Start- und Endpunkt und ein spezifisches Labyrinth, die man dem A*-Pathfinder übergibt, wären Parameter.
            tr
              td Pathfinder
              td Eine Art Algorithmus, der in einem gegebenen Raum mit eingezeichnetem Start- und Endpunkt den schnellsten weg Findet.
              td A*, Dijkstra, BestFirstFinder und BreadthFirstFinder.
            tr
              td PathFinding.js
              td Die Zentrale Programmbibliothek, deren Pathfinder Implementationen wir in unserer Webapplikation nutzen.
              td: a(href="https://github.com/qiao/PathFinding.js" target="_blank") Quellcode
            tr
              td Matrix
              td Anordnung von Elementen. In unserem Fall ein zweidimensionales Raster, in dem Wände, Korridore und Wege platziert sind.
              td Man kann sich in unserem Fall eine Matrix als eine Art Koordinatensystem mit eingezeichneten Blöcken vorstellen, in dem Wege gefunden werden.
            tr
              td recbacktracker
              td &laquo;Recursive Backtracker&raquo;, ein Labyrinthalgorithmus, den wir in unserer Webapplikation zur Generierung von perfekten (immer lösbaren) Labyrinthen verwenden.
              td: a(href="https://en.wikipedia.org/wiki/Maze_generation_algorithm#Recursive_backtracker" target="_blank") Wikipedia Kurzfassung
