doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/MathJax/MathJax.js?config=TeX-MML-AM_CHTML')
    script(src='/javascripts/bundle.js')
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      ul.navbar-nav
        li.nav-item: a.navbar-brand.nav-link(href="/") BMA
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle="dropdown" id="algorithms" href="#" role="button" aria-haspopup="true" aria-expanded="false") Pathfinder
          .dropdown-menu(aria-labelledby="algorithms")
            a.dropdown-item(href="/pathfinder/a-star") A*
            a.dropdown-item(href="/pathfinder/dijkstra") Dijkstra
        li.nav-item: a.nav-link(href="/") Vergleiche
        li.nav-item: a.nav-link(href="/credits") Autoren


    .page-core: block content

    footer
      .container
        .row
          .col-sm
            p &copy; 2018 Severin Fürbringer, Adrian Stoop
          .col-sm
            p  BMS Zürich, Berufsmaturitätsarbeit
          .col-sm
            p 
              a(href="https://github.com/fuerbringer/bma" target="_blank") Source Code
              |  unter  
              a(href="https://www.gnu.org/licenses/agpl-3.0.de.html" target="_blank") AGPL-3.0
