extends layout

block content
  .container
    .row
      .col-sm
        h1= title
        if query.algorithm == 'AStarFinder' || !query.algorithm
          include descriptions/astar
        if query.algorithm == 'DijkstraFinder'
          include descriptions/dijkstra

      .col-sm
        include pathfinder-block
  include pathfinder-script
