body
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  .page-core
    min-height: 85vh;
    #grid-left
      margin-right: 15px;
    .grid-slider
      text-align: center;

a
  color: #00B7FF
